{% extends "snippets/base.html" %}
{% load static%}

{% block  custom_style %}
<link rel="stylesheet" href="{% static 'assets/vendors/simple-datatables/style.css' %}">
{% endblock custom_style %}
{% block  content %}
<div id="main-content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-4">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <a href="{% url 'tambah-sub-kategori' pk=kat.id %}" class="btn btn-outline-success">TAMBAH SUB KATEGORI</a>
                    <br>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">SUB KATEGORI</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-secondary">{{kat.sub_kategori_name}}</h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for x in subkat  %}
                        	<li>{{x.sub_kategori_name}}</li>
                        {% endfor  %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block  custom_script %}
<script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
<script>

    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);




</script>
{% endblock custom_script %}