{% load static %}
<script src="{% static 'assets/vendors/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
<script src="{% static 'assets/js/pages/dashboard.js' %}"></script>
<script src="{% static 'assets/vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/all_here.js' %}"></script>


