{% load static%}
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="{% url 'dashboard' %}"><img style="width:80%; height:100px" src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item ">
                    <a href="{% url 'dashboard' %}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a href="{% url 'kumpulan-soal' %}" class='sidebar-link'>
                        <i class="bi bi-list-task"></i>
                        <span>Kumpulan Soal</span>
                    </a>
                </li>

                 <li class="sidebar-item  ">
                    <a href="{% url 'list-materi' %}" class='sidebar-link'>
                        <i class="bi bi-book"></i>
                        <span>Materi</span>
                    </a>
                </li>

                 <li class="sidebar-item  ">
                    <a href="{% url 'list-kategori' %}" class='sidebar-link'>
                        <i class="bi bi-tags"></i>
                        <span>Kategori</span>
                    </a>
                </li>


            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
